<%= form_with(model: produit, local: true) do |form| %>
  <% if produit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
      <% produit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :nom_pro %>
    <%= form.text_field :nom_pro, id: :produit_nom_pro %>
  </div>

  <div class="field">
    <%= form.label :type_pro %>
    <%= form.text_field :type_pro, id: :produit_type_pro %>
  </div>

  <div class="field">
    <%= form.label :prix %>
    <%= form.number_field :prix, id: :produit_prix %>
  </div>

  <div class="field">
    <%= form.label :qte_pro %>
    <%= form.number_field :qte_pro, id: :produit_qte_pro %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
