<p id="notice"><%= notice %></p>

<h1>Contenu Achas</h1>
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
    <tr class="info">
      <th>N°</th>
      <th>Nom pro</th>
      <th>Type pro</th>
      <th>Qte pro</th>
      <th>Achat</th>
      <th>Montant</th>
      <th>Produit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%
    @i=1;
    @contenu_achas.each do |contenu_acha|
    %>
      <tr>
        <td><%= @i %></td>
        <td><%= contenu_acha.nom_pro %></td>
        <td><%= contenu_acha.type_pro %></td>
        <td><%= contenu_acha.qte_pro %></td>
        <td><%= contenu_acha.achat.date_ac %></td>
        <td><%= contenu_acha.montant %></td>
        <td><%= contenu_acha.produit.nom_pro %></td>
        <td><%= link_to 'Show', contenu_acha %></td>
        <td><%= link_to 'Edit', edit_contenu_acha_path(contenu_acha) %></td>
        <td><%= link_to 'Destroy', contenu_acha, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contenu Acha', new_contenu_acha_path %>
