<p id="notice"><%= notice %></p>

<h1>Contenu Ventes</h1>

<table>
  <thead>
    <tr>
      <th>Vente</th>
      <th>Produit</th>
      <th>Nom pro</th>
      <th>Type pro</th>
      <th>Qte pro</th>
      <th>Montant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contenu_ventes.each do |contenu_vente| %>
      <tr>
        <td><%= contenu_vente.vente %></td>
        <td><%= contenu_vente.produit %></td>
        <td><%= contenu_vente.nom_pro %></td>
        <td><%= contenu_vente.type_pro %></td>
        <td><%= contenu_vente.qte_pro %></td>
        <td><%= contenu_vente.montant %></td>
        <td><%= link_to 'Show', contenu_vente %></td>
        <td><%= link_to 'Edit', edit_contenu_vente_path(contenu_vente) %></td>
        <td><%= link_to 'Destroy', contenu_vente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contenu Vente', new_contenu_vente_path %>
