<p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-xs-3 col-sm-3">
    </div>
      <div class="col-xs-9 col-sm-9">
        <h1>Contenus ventes </h1>
          <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
                    <tr class="info">
                          <th>N°</th>
                          <th>Nom produit</th>
                          <th>Type</th>
                          <th>Quantite produit</th>
                          <th>Prix Unitaire</th>

                          <th colspan="4">Action</th>
                     </tr>
                </thead>
                <tbody>
                      <%
                      @i=1;
                      @contenu_ventes.each do |contenu_vente|
                         %>
                        <tr>
                            <td><%= @i %></td>
                            <td><%= contenu_vente.produit.nom_pro %></td>
                            <td><%= contenu_vente.type_pro %></td>
                            <td><%= contenu_vente.qte_pro %></td>
                            <td><%= contenu_vente.montant %></td>
                            <td><%= link_to 'Show', contenu_vente %></td>
                            <td><%= link_to 'Edit', edit_contenu_vente_path(contenu_vente) %></td>
                            <td><%= link_to 'Destroy', contenu_vente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                  <%
                 @i+=1
                end%>
              </tbody>
              <br>
              <p>New Contenu Vente:
                <a href="/contenu_ventes/new" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-plus"></span> Add </a></p>
            </table>
        </div>
      </div>
    </div>
